# Entornos virtuales
.venv/
venv/
env/
__pycache__/

# Archivos de sistema y logs
*.log
.DS_Store
Thumbs.db

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
# Evidencia de tests (Capturas y Videos)
*.png
*.jpg
*.jpeg
*.mp4

# Reportes de Pytest
.pytest_cache/
reporte.html